body
  width: 100%
  height: 100vh
  background-color: #282c38;
  .head-bar
    background-color: #282c38;
    height: 80px;
    width: 100%;
    margin: 0 auto;
    display: block;
    // position: fixed;
    top: 0;
    z-index: 99999;
    margin: 0 auto;
    .logo
      float: left;
      margin-left: 5%;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      width: 150px;
      border: none;
      height: 50px;
    ul
      display: inline-block;
      margin-left: 4%;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      width: 70%;
      li
        display: inline-block;
        margin-left: 3%;
        color: #fff;
        font-size: 20px;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        transition: 0.5s ease-in-out;
        &:hover, i
          color: #0bb6d4;
          cursor: pointer;
        p
          display: inline-block;
          margin-left: 5px;
        i
          display: inline-block;
          color: #636573;
          transition: 0.5s ease-in-out;
  .first-section
    display: block;
    margin: 0 auto;
    width: 90%;
    height: auto;
    background-image: url('http://us.battle.net/hearthstone/static/images/333f1f7e-700c-400b-b5ad-5b902cb6772f/mean-streets-of-gadgetzan/header-bg.jpg');
    background-position: center;
    background-size: cover;
    .first-section-content
      text-align: center;
      margin: 0 auto;
      display: block;
      width: 100%;
      height: 200px;
      margin: 10% auto 5%;
      background-color: rgba(52, 54, 69, 0.69);
      .red-circle
        color: #e62117;
        font-size: 15px;
        vertical-align: top;
        transform: translateY(3px);
      h1
        font-family: 'Ubuntu Condensed', sans-serif;
        font-size: 25px;
        color: #fff;
        position: relative;
        top: 30%;
        transform: translateY(-30%);
      .btn-live
        background-color: transparent;
        border: 1px solid #fff;
        color: #fff;
        font-family: 'Ubuntu Condensed', sans-serif;
        font-size: 21px;
        border-radius: 17px;
        padding: 7px 2%;
        position: relative;
        transform: translateY(190%);
        transition: 0.5s ease-in-out;
        &:hover
          cursor: pointer;
          color: #0bb6d4;
          border: 1px solid #0bb6d4;
  .body-posts
    display: block;
    margin: 1% auto;
    width: 90%;
    height: auto;
    text-align: center;
    max-width: 1300px;
    .post
      width: 290px;
      display: inline-block;
      height: 250px;
      background: #333846;
      margin: 2% 5px;
      vertical-align: top;
      .post-caption
        width: 100%;
        height: 160px;
        display: block;
      .post-text-container
        height: 90px;
        margin: 0 auto;
        display: block;
        width: 100%;
        p
          color: #fff;
          font-size: 15px;
          margin: 10px 10px;
          font-family: 'Lato', sans-serif;
          text-align: left;
        small
          float: right;
          clear: both;
          width: 100%;
          display: block;
          text-align: right;
          margin-right: 3%;
          vertical-align: bottom;
          margin-top: 12%;
          font-size: 12px;
          color: #fff;
          font-family: 'Lato', sans-serif;
